[submodule "infra"]
    path = infra
    url = https://github.com/TRACKIO-DELIVERY/infra.git
    branch = main
[submodule "tracking-socket-server"]
	path = tracking-socket-server
	url = https://github.com/TRACKIO-DELIVERY/tracking-socket-server
    branch = main
[submodule "order-service"]
    path = order-service
    url = https://github.com/TRACKIO-DELIVERY/order-service
    branch = main