name: Deploy to Production

on:
  repository_dispatch:
      types: [order-service-updated, tracking-service-updated ,message-broker-updated, infra-updated]

  workflow_dispatch:
    inputs:
      service:
        description: "Submodule name (order-service, infra, tracking-socket-server)"
        required: true
      sha:
        description: "Commit SHA to deploy"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name : Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
          
      - name: Configurar Git
        run: |
          git config --global user.name "Bot action"
          git config --global user.email "mirlaisabel11@gmail.com"
          
      - name: Process payload
        id: payload
        run: |
          SERVICE="${{ github.event.client_payload.service || github.event.inputs.service }}"
          SHA="${{ github.event.client_payload.sha || github.event.inputs.sha }}"

          if [ -z "$SERVICE" ] || [ -z "$SHA" ]; then
            echo "Service and SHA are required"
            exit 1
          fi

          echo "service=$SERVICE" >> $GITHUB_OUTPUT
          echo "sha=$SHA" >> $GITHUB_OUTPUT
        
      - name: Update submodule to SHA
        run: |
          SERVICE="${{ steps.payload.outputs.service }}"
          SHA="${{ steps.payload.outputs.sha }}"

          echo "Updating $SERVICE to commit $SHA"

          git submodule update --init $SERVICE
          cd $SERVICE

          git fetch origin
          git checkout "$SHA"

          cd ..
          git add $SERVICE
          git commit -m "deploy($SERVICE): pin to $SHA" || echo "No changes to commit"
      
      - name: Push trackio update
        run: |
          git push origin main

      - name: Create PEM file
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > private-key.pem
          chmod 600 private-key.pem

      - name: Deploy to EC2 - SSH 
        run: |
          ssh -i private-key.pem -o StrictHostKeyChecking=no ${{ secrets.EC2_HOST }} << EOF
            set -e
            cd ~/trackio

            java -version
            mvn -v
            git pull origin main
            git submodule update --init --recursive

            export JAVA_HOME=/home/ubuntu/.sdkman/candidates/java/21.0.8-amzn
            export MAVEN_HOME=/home/ubuntu/.sdkman/candidates/maven/3.9.11
            export PATH=$JAVA_HOME/bin:$MAVEN_HOME/bin/:$PATH

            cd order-service
            mvn clean package -DskipTests
            cd ..

            echo "${{ secrets.ENV_FILE }}" > .env
            echo "Arquivo .env criado com sucesso"

            docker-compose down && docker-compose up -d --build
          EOF